canvas {
  width: 100% !important;
  height: 100% !important;
}

#canvas {
  position: absolute;
  left: 36vw;
  top: 33vh;
  width: 28vw;
  height: 36vh;
  animation: slide 1s 1s both;
}

@keyframes slide {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  100% {
    transform: translateY(-42vh) translateX(43.5vw) scale(0.5);
  }
}