.cover-box {
  animation: fade-out-anim 1s 0.5s both;
  pointer-events: auto;
}

@keyframes fade-out-anim {
  0% {
    opacity: 100%;
    pointer-events: auto;
  }
  100% {
    opacity: 0%;
    pointer-events: none;
  }
}