.title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 10em; /* Adjust as needed */
  animation: 
    typing 1s 1.1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both,
    blink-caret .75s 2.3s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0ex;
  }
  6.14% {
    width: 0ex;
  }
  7.14% {
    width: 1.6ex;
  }
  13.29% {
    width: 1.6ex;
  }
  14.29% {
    width: 2.6ex;
  }
  20.43% {
    width: 2.6ex;
  }
  21.43% {
    width: 3.6ex;
  }
  27.57% {
    width: 3.6ex;
  }
  28.57% {
    width: 4.2ex;
  }
  34.71% {
    width: 4.2ex;
  }
  35.71% {
    width: 5.1ex;
  }
  41.86% {
    width: 5.1ex;
  }
  42.86% {
    width: 5.5ex;
  }
  49% {
    width: 5.5ex;
  }
  50% {
    width: 6.7ex;
  }
  56.14% {
    width: 6.7ex;
  }
  57.14% {
    width: 7.7ex;
  }
  63.29% {
    width: 7.7ex;
  }
  64.29% {
    width: 8.6ex;
  }
  70.43% {
    width: 8.6ex;
  }
  71.43% {
    width: 9.25ex;
  }
  77.57% {
    width: 9.25ex;
  }
  78.57% {
    width: 9.6ex;
  }
  84.71% {
    width: 9.6ex;
  }
  85.71% {
    width: 10ex;
  }
  91.86% {
    width: 10ex;
  }
  92.86% {
    width: 10.35ex;
  }
  99% {
    width: 10.35ex;
  }
  100% {
    width: 11.5ex;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-right-width: 0em;
  }
  50% {
    border-right-width: .15em;
  }
}