.fade-in {
  animation: fade-in-anim 0.3s both;
}

.fade-out {
  animation: fade-in-anim 0.1s both;
  animation-direction: reverse;
}

.show-menu {
  animation: show-menu-anim 1s both;
}

.close-menu {
  animation: fade-out-anim 0.5s both;
  max-height: 30vh;
}

.invisible {
  visibility: hidden;
}

@keyframes fade-in-anim {
  0% {
    max-height: 18vh;
    opacity: 0%;
  }
  100% {
    max-height: 18vh;
    opacity: 30%;
  }
}

@keyframes fade-out-anim {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes show-menu-anim {
  0% {
    max-height: 18vh;
    opacity: 30%;
  }
  100% {
    max-height: 30vh;
    opacity: 100%;
  }
}
